SYNC_INTERVAL=86400
DOWNLOAD_CONCURRENCY=2
TEMP_DIR=/tmp/playlist2mp3
LOG_LEVEL=info

SPOTIFY_CLIENT_ID=
SPOTIFY_CLIENT_SECRET=

PLAYLIST_1_NAME=Rock
PLAYLIST_1_URL=https://open.spotify.com/playlist/37i9dQZF1DXcBWIGoYBM5M
PLAYLIST_1_DIR=/media/raid/music

PLAYLIST_2_NAME=Electronic
PLAYLIST_2_URL=https://open.spotify.com/playlist/37i9dQZF1DX4dyzvuaRJ0n
PLAYLIST_2_DIR=/media/raid/music
